@import './base.scss';
.loading{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99;
    display: grid;
    place-items: center;
    background-color: #0b134f;
    font-family: 'Orbitron', sans-serif;
    &__box{
        width: 500px;
        height: 200px;
        border: 3px solid $green-color;
        border-top: 3px solid $dark-green-color;
        border-bottom: 3px solid $dark-green-color;
        position: relative;
        @media screen and (max-width:600px) {
           & {
            width:90vw;
           }
        }
    }
    &__bar{
        width: 90%;
        height:10px;
        background-color: #ccc;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        &--inner{
            width: 50%;
            height: 100%;
            border-radius: 2px;
            background: #6cff8d;
        }
    }
    &__text{
        color:#fff;
        position: relative;
        font-size: 22px;
        padding: 1rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:355px) {
            & {
             font-size:15px;
            }
         }
        &--dot{
            width: 15px;
            height: 15px;
            margin: 0 3px;
            border-radius: 50%;
            background: #fff;
            animation: pulse 1s infinite ;
            @keyframes pulse{
                from{
                    opacity:0;
                    background-color:$green-color;
                }
                to{
                    opacity:1;
                 }
            }
        }
        &--border{
            width:85%;
            height:1px;
            background-color:$green-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__counter{
        position: absolute;
        top: 70%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center;
        color: #fff;
        font-weight: 700;
        padding: 10px; 
        font-size: 20px; 
        &--number{
            color:$green-color;
        }      
    }
    &__width-animation{
        animation: width-animation 1s forwards;
        @keyframes width-animation {
            0%{
                width:85%;
            }
            100%{
                width:280px;
            }
        }
    }
    &__svg{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50% ,-50%);  
        opacity: 0;
        width: 85%;      
        }
}